@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
body {
    background-color: #151225;
}
body {
	background: linear-gradient(-45deg, #151225, #2d083b, #3b0041, #2d0038);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.question {
    font-style: italic;
    color: white; 
    margin: auto;
    justify-content: center;
    font-size: 20px;
    font-family: "Inconsolata", monospace;
    font-weight: 200;
}

.logo {
    max-width: 34%;
    margin-left: -5%;
}
.resultGenre{
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  font-style: italic;
  color: white; 
  visibility: hidden;
  display: inline-flex;
  margin-left: 2%;
  font-size: 20px;
}
.resultMusic {
  border: none;
  border-radius: 0%;
}

.container-input {
  text-align: center;
}
.question-input {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #9a3aad 0, #980ed8 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Inconsolata", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  display: inline-block;
}

.question-input:focus {
  box-shadow: #963ce0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #6e2bc7 0 -3px 0 inset;
}

.question-input:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #5b0475 0 -3px 0 inset;
  transform: translateY(-2px);
}

.question-input:active {
  background-image: radial-gradient(100% 100% at 100% 0, #7d2c8d 0, #700c9e 100%);
  box-shadow: #7916e9 0 3px 7px inset;
  transform: translateY(2px);
}
.question-input:after {
  background-image: radial-gradient(100% 100% at 100% 0, #7d2c8d 0, #700c9e 100%);

}


@media (min-width: 768px) {
  .question-input {
    padding: 0 2.6rem;
  }
}

.clear-button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #9a3aad 0, #980ed8 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Inconsolata", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  display: inline-block;
  visibility: hidden;
}

.clear-button:focus {
  box-shadow: #963ce0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #6e2bc7 0 -3px 0 inset;
}

.clear-button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #5b0475 0 -3px 0 inset;
  transform: translateY(-2px);
}

.clear-button:active {
  background-image: radial-gradient(100% 100% at 100% 0, #7d2c8d 0, #700c9e 100%);
  box-shadow: #7916e9 0 3px 7px inset;
  transform: translateY(2px);
}
.clear-button:after {
  background-image: radial-gradient(100% 100% at 100% 0, #7d2c8d 0, #700c9e 100%);

}